*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
node_modules
.tmb
.vscode-server/
.user.ini
.playwright-mcp/
test-results/


# wordpress specific
wp-config.php
wp-content/uploads/*
!wp-content/uploads/PDF_EXTENDED_TEMPLATES/
!wp-content/uploads/PDF_EXTENDED_TEMPLATES/*.php
wp-content/uploads/PDF_EXTENDED_TEMPLATES/tmp
wp-content/uploads/PDF_EXTENDED_TEMPLATES/fonts
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/upgrade-temp-backup/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/mc_data/*
wp-content/jetpack-waf/*
wp-content/mu-plugins/*
wp-content/breeze-config/*
wp-content/themes/hello-elementor/*
wp-content/themes/hello-elementor-child/vendor/*
wp-content/upgrade
wp-content/upgrade-temp-backup






# wpengine specific
.smushit-status
.gitattributes
_wpeprivate*
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/stop-long-comments.php
wp-content/mu-plugins/force-strong-passwords*
wp-content/mu-plugins/wpengine-common*
wp-content/mysql.sql
wp-content/mu-plugins/wpengine-security-auditor.php
wp-content/mu-plugins/wpe-wp-sign-on-plugin*
malcare-waf.php

# smart plugin manager specific 
wp-content/plugins/*
wp-content/.logs/
autoupdater_maintenance_mode_enabled.tmp

#project
/sql/
.clasprc.json

# wp core (as of 4.9.5)
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
/wp-content/index.php
/wp-content/advanced-scripts/
/wp-content/themes/*
!/wp-content/themes/hello-elementor-child/
/wp-content/plugins/index.php
/wp-content/plugins/akismet*
/wp-salt.php

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
wp-content/db.php
wp-content/themes/hello-elementor-child/.phpunit.result.cache
!wp-content/uploads/PDF_EXTENDED_TEMPLATES/pav-template.php
local-xdebuginfo.php
wp-content/uploads/PDF_EXTENDED_TEMPLATES/index.html
wp-content/debug.log
wp-content/themes/hello-elementor-child/test-results/
.claude/

